<%- include('../partials/header') %>

<main>
    <h2>Add a new Bar</h2>
    <form method="POST" action="/bars">
        <input type="text" name="name" placeholder="Bar name">
        <br><br>
        <input type="text" name="location" placeholder="Bar location">
        <input type="submit" value="Add Bar">
    </form>
</main>

<%- include('../partials/footer') %>